.dashboard-wrapper {
  padding: 0rem 0rem;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
}


.dashboard-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background-color: rgb(215, 217, 219);
  width: 100%;
  box-sizing: border-box;
}


.dashboard-title {
  font-size: 14px;
  position: relative;
  cursor: pointer;
}

.edit-icon {
  font-size: 16px;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.dashboard-title:hover .edit-icon {
  opacity: 1;
}

.dashboard-title-input {
  font-size: 26px;
  padding: 4px 10px;
  width: 500px;
}

.dashboard-logo {
  width: 200px;
  height: 50px;
}

/* 4-card grid layout */
.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  
  gap: 0.1rem;
}
@media (max-width: 768px) {
  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .dashboard-title-input {
    width: 100%;
  }

  .dashboard-logo {
    width: 150px;
    height: auto;
  }
}

